/* THE MAINCONTAINER HOLDS EVERYTHING */

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard {
  border-radius: 6px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.transition {
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.flipped {
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
  border-radius: 6px;
  backface-visibility: hidden;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
  border-radius: 6px;
  backface-visibility: hidden;
  overflow: hidden;
  transform: rotateY(180deg);
}
